# Dummy comment to make sure gitignore doesn't ignore the first line.
/data
/app/tmp
/lib/Cake/Console/Templates/skel/tmp/
/plugins
/vendors
/build
/dist
.DS_Store
/tags
data/tmp/cache/persistent/myapp_cake_core_cake_dev_en-us
data/tmp/cache/persistent/myapp_cake_core_file_map